@model BLL.TeamFM

@{
    ViewBag.Title = "Create Team Page";
}
<div class="left;" style="margin: 25px; width: 21%;">
    <h2>Create Team Page</h2>

    @using (Html.BeginForm("CreatePage", "Team", FormMethod.Post))
    {
        <div class="error">
            @ViewBag.ErrorMessage
        </div>
        <div style="float: left; display: inline-block;">
            @Html.LabelFor(m => m.TeamName)
            <div>
                @Html.TextBoxFor(m => m.TeamName, new { @placeholder = "Team Name", size = 40 })
            </div>
        </div>
        <div style="clear: both;">
            <div style="float: left; display: inline-block;">
                @Html.LabelFor(m => m.Coach)
                <div>
                    @Html.TextBoxFor(m => m.Coach, new { @placeholder = "Coach Name", size = 16 })
                </div>
            </div>
            <div style="float: left; display: inline-block; padding-left:15px;">
                @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", size = 15 })
                </div>
            </div>
        </div>
        <div style="clear: both;">
            @Html.LabelFor(m => m.Phone)
            <div>
                @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Phone #", size = 16 })
            </div>
        </div>
        <div style="clear: both;">
            @Html.Label("Address")
            <div>
                @Html.TextBoxFor(m => m.Line1, new { @placeholder = "Address", size = 40 })
            </div>
        </div>
        <div>
            <div>
                @Html.TextBoxFor(m => m.Line2, new { @placeholder = "Address Line 2", size = 40 })
            </div>
            <div>
                <div style="float: left; display: inline-block;">
                    @Html.TextBoxFor(m => m.City, new { @placeholder = "City", size = 19 })
                </div>
                <div style="float: left; display: inline-block; padding-left: 4px;">
                    @Html.TextBoxFor(m => m.State, new { @placeholder = "State", size = 2 })
                </div>
                <div style="float: left; display: inline-block; padding-left: 4px;">
                    @Html.TextBoxFor(m => m.Zip, new { @placeholder = "Zip Code", size = 5 })
                </div>
            </div>
        </div>
        <div style="clear: both;">
            @Html.LabelFor(m => m.Web)
            <div>
                @Html.TextBoxFor(m => m.Web, new { @placeholder = "Website", size = 40 })
            </div>
        </div>
        <div>
            <div style="float: right;">
                <input type="submit" value="Create Page" />
            </div>
        </div>
    }
</div>

@Html.Action("SearchTeams", "Search")