@model BLL.TeamsVM

@using BLL

<ul>
    @if (Model != null)
    {
        foreach (TeamVM vm in Model.Teams)
        {
            <li>@Html.ActionLink(vm.TeamName, "Index", "Team", new { vm }, new { @class = "purple" })</li>
        }
    }
    @if (Session["UserID"] == Session["ProfileID"])
    {
        <li>@Html.ActionLink("Add Team", "CreatePage", "Team", new { }, new { @class = "purple" })</li>
    }
    <li>@Html.ActionLink("View Images", "Images", "Profile", new { }, new { @class = "purple" })</li>
    <li>@Html.ActionLink("View Videos", "Videos", "Profile", new { }, new { @class = "purple" })</li>
    <li>@Html.ActionLink("View Friends", "Friends", "Profile", new { }, new { @class = "purple" })</li>
    @if (Session["UserID"] == Session["ProfileID"])
    {
        <li>@Html.ActionLink("Change Password", "ChangePassword", "Accounts", new { }, new { @class = "purple" })</li>
        <li>@Html.ActionLink("Edit Profile", "Edit", "Profile", new { }, new { @class = "purple" })</li>
    }
</ul>
