@model BLL.TeamVM

@{
    ViewBag.Title = "Team Page";
}

<h2>Team Page</h2>

<p>TeamID: @Model.ID</p>
<p>Team Name: @Model.TeamName</p>
<p>Coach Name: @Model.Coach</p>
<p>Email: @Model.Email</p>
<p>Phone Number: @Model.Phone</p>
<p>Address</p>
<p>@Model.Line1</p>
<p>@Model.Line2</p>
<p>@Model.City</p>
<p>@Model.State</p>
<p>@Model.Zip</p>
<p>Website: @Model.Web</p>