@model BLL.UserFM

    <div class="error">
        @ViewBag.ErrorMessage
    </div>
    <div style="float: left; display: inline-block;">
        @Html.LabelFor(m => m.FirstName)
        <div>
            @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", size = 15 })
        </div>
    </div>
    <div style="float: left; display: inline-block;">
        @Html.LabelFor(m => m.LastName)
        <div>
            @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", size = 15 })
        </div>
    </div>
    <div style="clear: both;">
        @Html.LabelFor(m => m.Email)
        <div>
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", size = 36 })
        </div>
    </div>
    <div style="float: left; display: inline-block;">
        @Html.LabelFor(m => m.Password)
        <div>
            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", size = 15 })
        </div>
    </div>
    <div style="float: left; display: inline-block;">
        @Html.LabelFor(m => m.ConfirmPassword)
        <div>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", size = 15 })
        </div>
    </div>
